<head>
    <title>
        <% if (title) {%>
            <%= title+' - ' %>
        <% } %>
        ZotScheduler
    </title>
    <meta name="theme-color" content="#ffd200">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <link rel="stylesheet" id="screenr-fonts-css" href="https://fonts.googleapis.com/css?family=Open%2BSans%3A400%2C300%2C300italic%2C400italic%2C600%2C600italic%2C700%2C700italic%7CMontserrat%3A400%2C700&amp;subset=latin%2Clatin-ext" type="text/css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/public/libs/fullcalendar/fullcalendar.css">
    <script src='/public/libs/fullcalendar/lib/jquery.min.js'></script>
    <script src='/public/libs/fullcalendar/lib/moment.min.js'></script>
    <script type="text/javascript" src='/public/libs/schedulerjs/core.js' > </script> 
    <script type="text/javascript" src='/public/libs/schedulerjs/calendar.js' > </script> 
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <!-- <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script> -->
    <script src="/public/libs/angular-ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
        
