<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#zsnav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand"  href="/">ZotScheduler</a> 
        </div>
        <div class="collapse navbar-collapse" id="zsnav">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <!-- <li><a href="/help">Help</a></li>  -->
            </ul>
        </div>
    </div>
</nav>

<% if (title) {%>
    <div class="jumbotron" id="title">
        <h3><%= title %></h3>
    </div>
<% } %>