<html ng-app="schedWeb" >

<% include header %>
<body>
    <% include headerbar %>
    <div class="container-fluid" >
        <%- body %>
    </div>
    <% include footer %>
    <% include notifications %>
</body>

</html>