body {
  margin: 0;
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none; }

#home {
  float: left;
  font-family: "Montserrat", Helvetica, Arial, sans-serif; }

#home a {
  color: #FFD200;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.75em;
  vertical-align: middle;
  text-transform: uppercase; }

#home a:hover {
  color: white; }

#header {
  background-color: #1B3D6D;
  padding: 25px 25px 0px 25px;
  height: 70px;
  border-bottom: solid 10px #FFD200; }

.navbar-inverse {
  background-color: #1B3D6D;
  border-bottom: solid 10px #FFD200;
  color: white;
  font-size: 150%; }

.navbar-inverse .navbar-brand {
  color: #FFD200;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: "Montserrat", Helvetica, Arial, sans-serif; }

.navbar-inverse .navbar-nav > li > a {
  color: white; }

.navbar-inverse .navbar-nav > li > a:hover {
  color: #FFD200; }

.navbar-inverse .navbar-nav > li > a:active {
  color: #FFD200; }

#head_container {
  margin: 0 auto;
  height: 70px;
  vertical-align: middle; }

#nav_bar {
  height: 70px; }

#nav_bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  float: right; }

#nav {
  height: 100%; }

#nav li {
  list-style-type: none;
  padding: 0px;
  margin-right: 10px;
  display: inline;
  font-size: 1.75em;
  vertical-align: middle; }

#nav li a {
  color: white; }

#nav li a:hover {
  color: #FFD200; }

#nav li a:active {
  color: #FFD200; }

#title {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
  padding: 25px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 25px; }

#title h3 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin: 0; }

.container-fluid {
  padding-right: 25px;
  padding-left: 25px; }

#container {
  padding: 25px;
  padding-top: 0px; }

#footer {
  background-color: black;
  color: #ccc;
  padding: 25px 0px;
  font-size: 0.8em;
  overflow: hidden;
  margin-top: 25px; }

#footer .col-sm-8 {
  padding: 0px; }

#footer .col-sm-4 {
  padding: 0px; }

#foot-links {
  text-align: right; }

#foot-links a {
  color: #ddd;
  text-decoration: none; }

#foot-links a:hover {
  color: #fff;
  text-decoration: none; }

.left {
  float: left;
  width: 49%; }

.box {
  border: solid 1px #ccc; }

#schedules .box {
  padding: 15px; }

@media all and (max-width: 480px) {
  .left, .right {
    float: none;
    width: auto; }
  #home-left, #home-right {
    width: auto; } }

.course_choice {
  width: 100%; }

.class_select {
  width: 100%; }

.courses_1 {
  width: 20%;
  text-align: right; }

.courses_2 {
  width: 79%; }

.fc-clear {
  text-align: left;
  font-size: 0.8em; }

.fc-title {
  font-size: 0.75em; }

.corner-notification {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 100;
  cursor: pointer; }

.info-color {
  color: #559FAE; }

.info-dark-color {
  color: #43808d; }

.info-light-color {
  color: #78b3be; }

/*Social Media*/
.fa {
  padding: 5px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px; }

.fa:hover {
  opacity: 0.7;
  text-decoration: none; }

.fa-twitter {
  background: #55ACEE;
  color: white; }

.fa-github {
  background: #000;
  color: white; }

.fa-linkedin {
  background: #007bb5;
  color: white; }

.fa-youtube {
  background: #bb0000;
  color: white; }

/* About Bios */
.bio ul li {
  list-style-type: none; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px; } }
