<% layout('../layouts/layout') %>

<p>Born out of this poor anteater's frustration with scheduling courses, David Legg, along with his partner in crime Alex I. Ramirez, have developed ZotScheduler &mdash; a tool that, based on what <b>you</b> want, gives you possible class combinations you'll like without having to deal with clunky WebSOC.</p>

<h1>Staff</h1>
<ul class="bio">
    <li>
        <h2>
            David Legg
            <span>
                <a href="https://www.github.com/DavidLegg" target="_blank" class="fa fa-github"></a>
            </span>
        </h2>
        <ul>
            <li>
                <h3>Founder, Back-end Developer</h3>
            </li>
            <li>
                David's a <del>programmar</del>...<del>programer</del>...<del>programmor</del>... He writes code.
            </li>
        </ul>
    </li>
    <li>
        <h2>
            Alex I. Ramirez
            <span>
                    <a href="https://www.youtube.com/arcompware" target="_blank" class="fa fa-youtube"></a>
                    <a href="https://www.github.com/alexram1313" target="_blank" class="fa fa-github"></a>
                    <a href="https://www.linkedin.com/in/alexram1313" target="_blank" class="fa fa-linkedin"></a>
            </span>
        </h2>
        <ul>
            <li>
                <h3>Full-stack Developer, Webmaster</h3>
            </li>
            <li>
                When he's not watching ice hockey or refereeing soccer, you can bet this Irvine Class of 
                2019 Computer Science &amp; Engineering major is on his computer writing code. 
                Whether it's web applications, Android apps, or IoT experimenting for his rising YouTube channel, 
                Alex always takes pride in his work and is more than happy to spread his knowledge around. 
            </li>
        </ul>
    </li>
</ul>
<hr/>
<h3>Credits</h3>
<ul>
    <li>
        Async by Caolan McMahon - Used under the <a href="https://github.com/caolan/async/blob/master/LICENSE" target="_blank">MIT License</a>
    </li>
    <li>
        Cheerio by Matt Mueller - Used under the <a href="https://github.com/cheeriojs/cheerio/blob/master/LICENSE" target="_blank">MIT License</a>
    </li>
    <li>
        EJS by Matthew Eernisse - Used without modification under the <a href="https://github.com/mde/ejs/blob/master/LICENSE" target="_blank">Apache License 2.0</a>
    </li>
    <li>
        Express by TJ Holowaychuk et al. - Used under the <a href="https://github.com/expressjs/express/blob/master/LICENSE" target="_blank">MIT License</a>
    </li>
    <li>
        Lowdb by typicode - Used under the <a href="https://github.com/typicode/lowdb/blob/master/LICENSE" target="_blank">MIT License</a>
    </li>
    <li>
        Moment.js by JS Foundation and other contributors - Used under the <a href="https://github.com/moment/moment/blob/develop/LICENSE" target="_blank">MIT License</a>
    </li>
    <li>
        Request - Used without modification under the <a href="https://github.com/request/request/blob/master/LICENSE" target="_blank">Apache License 2.0</a>
    </li>
</ul>
