<% layout('../layouts/layout') %>

<p>
    ZotScheduler was born out of the frustration of using WebSoc. There are other services that at least show you your classes on a calendar, but that's not good enough. I don't want to spend hours on end asking &ldquo;But what if I take this lecture at 12, and that discussion at 2, and...&rdquo; I have better things to do than comb through three million possible schedules for the one I like best.
</p><p>
    Like make a website that combs through three million possible schedules for the one you like best.
</p><p>
    ZotScheduler takes the headache out of scheduling. You tell it what classes you want. It tells you how to get them. Simple. Fast. Done.
</p><p>
    So get your classes figured out, and go do what you <em>actually</em> want to do.
</p>

<h3>Staff</h3>
<ul class="bio">
    <li>
        <h4>
            David Legg
            <span>
                <a href="https://www.github.com/DavidLegg" target="_blank" class="fa fa-github"></a>
            </span>
        </h4>
        <ul>
            <li>
                <h4>Founder, Back-end Developer, Acting Webmaster</h4>
            </li>
            <li>
                Mathematician, programmer, and proud Anteater. When he isn't writing code or scrawling numbers on a whiteboard, he enjoys listening to music, playing guitar, and discussing philosophy with anyone willing to listen (to the philosophy or the guitar).
            </li>
        </ul>
    </li>
    <li>
        <h4>
            Alex I. Ramirez
            <span>
                    <a href="https://www.youtube.com/arcompware" target="_blank" class="fa fa-youtube"></a>
                    <a href="https://www.github.com/alexram1313" target="_blank" class="fa fa-github"></a>
                    <a href="https://www.linkedin.com/in/alexram1313" target="_blank" class="fa fa-linkedin"></a>
            </span>
        </h4>
        <ul>
            <li>
                <h4>Full-stack Developer, Webmaster</h4>
            </li>
            <li>
                When he's not watching ice hockey or refereeing soccer, you can bet this Irvine Class of 
                2019 Computer Science &amp; Engineering major is on his computer writing code. 
                Whether it's web applications, Android apps, or IoT experimenting for his rising YouTube channel, 
                Alex always takes pride in his work and is more than happy to spread his knowledge around. 
            </li>
        </ul>
    </li>
</ul>
<hr/>
<h3>Credits</h3>
<ul>
    <li>
        Async by Caolan McMahon - Used under the <a href="https://github.com/caolan/async/blob/master/LICENSE" target="_blank">MIT License</a>
    </li>
    <li>
        Cheerio by Matt Mueller - Used under the <a href="https://github.com/cheeriojs/cheerio/blob/master/LICENSE" target="_blank">MIT License</a>
    </li>
    <li>
        EJS by Matthew Eernisse - Used without modification under the <a href="https://github.com/mde/ejs/blob/master/LICENSE" target="_blank">Apache License 2.0</a>
    </li>
    <li>
        Express by TJ Holowaychuk et al. - Used under the <a href="https://github.com/expressjs/express/blob/master/LICENSE" target="_blank">MIT License</a>
    </li>
    <li>
        Lowdb by typicode - Used under the <a href="https://github.com/typicode/lowdb/blob/master/LICENSE" target="_blank">MIT License</a>
    </li>
    <li>
        Moment.js by JS Foundation and other contributors - Used under the <a href="https://github.com/moment/moment/blob/develop/LICENSE" target="_blank">MIT License</a>
    </li>
    <li>
        Request - Used without modification under the <a href="https://github.com/request/request/blob/master/LICENSE" target="_blank">Apache License 2.0</a>
    </li>
</ul>
