<% layout('../layouts/layout') %>

<p>Born out of this poor anteater's frustration with scheduling courses, David Legg, along with his partner in crime Alex I. Ramirez, have developed ZotScheduler &mdash; a tool that, based on what <b>you</b> want, gives you possible class combinations you'll like without having to deal with clunky WebSOC.</p>

<h3>Staff</h3>
<ul>
    <li>
        <b>David Legg</b> - Founder, Back-end Developer
        <ul>
            <li>
                <span>
                    <a href="https://www.github.com/DavidLegg" target="_blank" class="fa fa-github"></a>
                </span>
            </li>
        </ul>
    </li>
    <li>
        <b>Alex I. Ramirez</b> - Full-stack Developer, Webmaster
        <ul>
            <li>
                <span>
                    <a href="https://www.youtube.com/arcompware" target="_blank" class="fa fa-youtube"></a>
                    <a href="https://www.github.com/alexram1313" target="_blank" class="fa fa-github"></a>
                    <a href="https://www.linkedin.com/in/alexram1313" target="_blank" class="fa fa-linkedin"></a>
                </span>
            </li>
        </ul>
    </li>
</ul>
<h3>Credits</h3>
<ul>
    <li>
        Async by Caolan McMahon - Used under the <a href="https://github.com/caolan/async/blob/master/LICENSE" target="_blank">MIT License</a>
    </li>
    <li>
        Cheerio by Matt Mueller - Used under the <a href="https://github.com/cheeriojs/cheerio/blob/master/LICENSE" target="_blank">MIT License</a>
    </li>
    <li>
        EJS by Matthew Eernisse - Used without modification under the <a href="https://github.com/mde/ejs/blob/master/LICENSE" target="_blank">Apache License 2.0</a>
    </li>
    <li>
        Express by Node.js Foundation - Used without modification under the <a href="https://creativecommons.org/licenses/by-sa/3.0/us/" target="_blank">Creative Commons Attribution-ShareAlike 3.0 United States License</a>
    </li>
    <li>
        Lowdb by typicode - Used under the <a href="https://github.com/typicode/lowdb/blob/master/LICENSE" target="_blank">MIT License</a>
    </li>
    <li>
        Moment.js by JS Foundation and other contributors - Used under the <a href="https://github.com/moment/moment/blob/develop/LICENSE" target="_blank">MIT License</a>
    </li>
    <li>
        Request - Used without modification under the <a href="https://github.com/request/request/blob/master/LICENSE" target="_blank">Apache License 2.0</a>
    </li>
</ul>
