<% layout('../layouts/layout') %>


<span>No need to fiddle around with WebSOC. Let us make your schedule for you.</span>
<div class="row" ng-controller="mainController">
    <div class="col-sm-6 box">
        <div>
            <h2>Select your courses</h2>
            
            <table class="course_choice form-group">
                <tr>
                    <td class="courses_1">Term:</td>
                    <td class="courses_2">
                        <select name="YearTerm" id="term" class="class_select form-control"
                                ng-model="yearTerm" ng-change="populateCourses()"
                                ng-options="yt.name for yt in yearTerms track by yt.id">
                            <option>
                                Loading...
                            </option>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td class="courses_1">Department:</td>
                    <td class="courses_2">
                        <select name="Dept" id="dept" class="class_select form-control"
                                ng-model="dept" ng-change="populateCourses()"
                                ng-options="dept.name for dept in depts track by dept.id">
                            <option>
                                Loading...
                            </option>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td class="courses_1">
                        Course:
                    </td>
                    <td class="courses_2">
                        <select name="Course" id="course" ng-change="hideAddedMsg(true)" 
                                class="class_select form-control" ng-model="selectedCourse"
                                ng-options="course.name for course in currentCourseList track by course.id">
                            <option>
                                Loading...
                            </option>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td class="courses_1" id="addConfirm" style="color:#0039ad;">
                        <span ng-hide="newAdded">Added</span>
                    </td>
                    <td class="courses_2" style="text-align:right">
                        <button type="button" class="btn btn-default" ng-disabled="coursesLoading" ng-click="addCourse()">Select Course</button>
                    </td>
                </tr>
            </table>
        </div>
        <hr/>
        <div>
            <h2>Select your preferences</h2>
            
            <table class="course_choice form-group">
                <tr>
                    <td class="courses_1"></td>
                    <td class="courses_2">
                        <span style="font-size:0.8em;">Less</span>
                        <span style="font-size:0.8em; float:right;">More</span>
                    </td>
                </tr>
                <tr preference-slider name="Mornings" id="mornings" tooltip="For early birds and coffee addicts"></preference-slider>
                <tr preference-slider name="Evenings" id="evenings" tooltip="For night owls and procrastinators"></preference-slider>
                <tr preference-slider name="Mondays" id="mondays" tooltip="For *those* people"></preference-slider>
                <tr preference-slider name="Fridays" id="fridays" tooltip="For CS majors with no life"></preference-slider>
                <tr preference-slider name="Balance" id="balanced" tooltip="For having similar amounts of time in class each day"></preference-slider>
                <tr preference-slider name="Gaps" id="gaps" tooltip="For time between classes"></preference-slider>
                <tr>
                    <td class="courses_1">
                    </td>
                    <td class="courses_2" style="text-align:right">
                        <button id="genSched" class="btn btn-default" ng-disabled="addedCourses.length == 0" type="button" ng-click="getSchedules();" >Schedule classes</button>
                    </td>
                </tr>
            </table>
        </div>
            
    </div>
    <div class="col-sm-6 box">
            <h2>Added Courses</h2>
            <ul id="addedCourses">
                <span ng-hide="addedCourses.length">Select some courses first. Then they'll appear here.</span>
                <li style="color:#0039ad;" ng-repeat="course in addedCourses" >
                    <span ng-bind="course.name"></span><a ng-click="delCourse($index)" href="javascript:void(0)" ng-bind="'[X]'"></a>
                </li>
            </ul>
    </div>
    
</div>
<hr/>
<div class="row" id="schedules">
    <h2>Compare possible schedules</h2>
    <p style="text-align:center;"><a href="javascript:void(0)" onClick="window.open('http://webreg1.reg.uci.edu:8889/cgi-bin/wramia?page=startUp&call=', 'WebReg UCI', 'width=700,height=400,scrollbars=yes'); ">Like what you see? Click here to go to WebReg.</a></p>
    <div class="col-sm-6 box">
        <!—- Calendar —>
        <script src='/public/libs/fullcalendar/fullcalendar.js'></script>
        
        <script type="text/javascript">
            $(document).ready(function() {
                                
                                // page is now ready, initialize the calendar...
                                
                                $('#calendar').fullCalendar({
                                                            // put your options and callbacks here
                                                            weekends: false,
                                                            defaultView: "agendaWeek",
                                                            slotDuration:"00:30:00",
                                                            minTime:"08:00:00",
                                                            defaultDate:"2017-01-02",
                                                            timezone:"America/Los_Angeles",
                                                            allDaySlot:false,
                                                            height:700,
                                                            contentHeight:700,
                                                            columnFormat:'ddd',
                                                            header: {
                                                            left:"title",
                                                            center:"",
                                                            right:"prev,next"
                                                            },
                                                            titleFormat:"[Schedule #1]",
                                                            eventOverlap:false,
                                                            loading: function(isLoading, view){
                                                            alert('loading');
                                                            if (isLoading){
                                                            $(".fc-prev-button").prop("disabled", true);
                                                            $(".fc-prev-button").addClass("fc-state-disabled");
                                                            $(".fc-next-button").prop("disabled", true);
                                                            $(".fc-next-button").addClass("fc-state-disabled");
                                                            }
                                                            else
                                                            {
                                                            $(".fc-prev-button").removeClass("fc-state-disabled");
                                                            $(".fc-prev-button").prop("disabled", false);
                                                            $(".fc-next-button").removeClass("fc-state-disabled");
                                                            $(".fc-next-button").prop("disabled", false);
                                                            }
                                                            
                                                            }
                                                            
                                                            });
                                
                                $('#calendar div.fc-toolbar div.fc-right div.fc-button-group .fc-prev-button').click(function(){
                                                            console.log("Clickable", clickable);
                                                            if (schedMax >0){
                                                            if (clickable){
                                                            clickable = false;
                                                            $('#calendar div.fc-toolbar div.fc-right div.fc-button-group .fc-prev-button').prop("disabled", true);
                                                            $('#calendar div.fc-toolbar div.fc-right div.fc-button-group .fc-next-button').prop("disabled", true);
                                                            $('#calendar div.fc-toolbar div.fc-right div.fc-button-group .fc-prev-button').addClass('fc-state-disabled');
                                                            $('#calendar div.fc-toolbar div.fc-right div.fc-button-group .fc-next-button').addClass('fc-state-disabled');
                                                            setScheduleView('left',-1);
                                                            }
                                                            }
                                                            });
                                
                                $('#calendar div.fc-toolbar div.fc-right div.fc-button-group .fc-next-button').click(function(){
                                                            console.log("Clickable", clickable);
                                                            if (schedMax > 0){
                                                            if (clickable){
                                                            clickable = false;
                                                            $('#calendar div.fc-toolbar div.fc-right div.fc-button-group .fc-prev-button').prop("disabled", true);
                                                            $('#calendar div.fc-toolbar div.fc-right div.fc-button-group .fc-next-button').prop("disabled", true);
                                                            $('#calendar div.fc-toolbar div.fc-right div.fc-button-group .fc-prev-button').addClass('fc-state-disabled');
                                                            $('#calendar div.fc-toolbar div.fc-right div.fc-button-group .fc-next-button').addClass('fc-state-disabled');
                                                            setScheduleView('left',1);
                                                            
                                                            }
                                                            }
                                                            });
                                });
                                
            </script>
        
        
        <div id="calendar"></div>
        <!—- End Calendar —>
        
    </div>
    <div class="col-sm-6 box">
        <!—- Calendar —>
        <script type="text/javascript">
            $(document).ready(function() {
                                
                                // page is now ready, initialize the calendar...
                                
                                $('#calendar-right').fullCalendar({
                                                                // put your options and callbacks here
                                                                weekends: false,
                                                                defaultView: "agendaWeek",
                                                                slotDuration:"00:30:00",
                                                                minTime:"08:00:00",
                                                                defaultDate:"2017-01-02",
                                                                timezone:"America/Los_Angeles",
                                                                allDaySlot:false,
                                                                height:700,
                                                                contentHeight:700,
                                                                columnFormat:'ddd',
                                                                header: {
                                                                left:"title",
                                                                center:"",
                                                                right:"prev,next"
                                                                },
                                                                titleFormat:"[Schedule #2]",
                                                                eventOverlap:false,
                                                                loading: function(isLoading, view){
                                                                alert('loading');
                                                                if (isLoading){
                                                                $(".fc-prev-button").prop("disabled", true);
                                                                $(".fc-prev-button").addClass("fc-state-disabled");
                                                                $(".fc-next-button").prop("disabled", true);
                                                                $(".fc-next-button").addClass("fc-state-disabled");
                                                                }
                                                                else
                                                                {
                                                                $(".fc-prev-button").removeClass("fc-state-disabled");
                                                                $(".fc-prev-button").prop("disabled", false);
                                                                $(".fc-next-button").removeClass("fc-state-disabled");
                                                                $(".fc-next-button").prop("disabled", false);
                                                                }
                                                                
                                                                }
                                                                
                                                                });
                                
                                $('#calendar-right div.fc-toolbar div.fc-right div.fc-button-group .fc-prev-button').click(function(){
                                                            console.log("Clickable", clickable);
                                                            if (schedMax >0){
                                                            if (clickable){
                                                            clickable = false;
                                                            $('#calendar-right div.fc-toolbar div.fc-right div.fc-button-group .fc-prev-button').prop("disabled", true);
                                                            $('#calendar-right div.fc-toolbar div.fc-right div.fc-button-group .fc-next-button').prop("disabled", true);
                                                            $('#calendar-right div.fc-toolbar div.fc-right div.fc-button-group .fc-prev-button').addClass('fc-state-disabled');
                                                            $('#calendar-right div.fc-toolbar div.fc-right div.fc-button-group .fc-next-button').addClass('fc-state-disabled');
                                                            setScheduleView('right',-1);
                                                            }
                                                            }
                                                            });
                                
                                $('#calendar-right div.fc-toolbar div.fc-right div.fc-button-group .fc-next-button').click(function(){
                                                            console.log("Clickable", clickable);
                                                            if (schedMax > 0){
                                                            if (clickable){
                                                            clickable = false;
                                                            $('#calendar-right div.fc-toolbar div.fc-right div.fc-button-group .fc-prev-button').prop("disabled", true);
                                                            $('#calendar-right div.fc-toolbar div.fc-right div.fc-button-group .fc-next-button').prop("disabled", true);
                                                            $('#calendar-right div.fc-toolbar div.fc-right div.fc-button-group .fc-prev-button').addClass('fc-state-disabled');
                                                            $('#calendar-right div.fc-toolbar div.fc-right div.fc-button-group .fc-next-button').addClass('fc-state-disabled');
                                                            setScheduleView('right',1);
                                                            
                                                            }
                                                            }
                                                            });
                                });
                                
            </script>
        
        
        <div id="calendar-right"></div>
        <!—- End Calendar —>
        
    </div>
    
</div>