        </div>
        <div id="footer">
            <div id="copyright">
                Copyright &copy; 2017 David Legg, Alex I. Ramirez.
            </div>
            <div id="foot-links">
                <a href="https://github.com/alexram1313/course-scheduler-node" target="_blank">Github</a>
                &nbsp;
                <span style="color:white;">ALPHA</span>
            </div>
        </div>
    </body>

</html>
