<div class="modal-header">
    <h3 class="modal-title">Feedback</h3>
</div>
<div class="modal-body">
    <p>How easy was it use ZotScheduler?</p>
    <p><span uib-rating ng-model="ease" max="ratingMax"></span></p>
    <p>Did ZotScheduler save you time?</p>
    <p><span uib-rating ng-model="timeSaved" max="ratingMax"></span></p>
    <p>Did the suggested schedules match your preferences?</p>
    <p><span uib-rating ng-model="preferenceMatch" max="ratingMax"></span></p>
    <p>Will you use ZotScheduler again?</p>
    <p><span uib-rating ng-model="useAgain" max="ratingMax"></span></p>
    <p>What did you find useful?</p>
    <p><input type="text" ng-model="useful" class="form-control"></p>
    <p>What did you find annoying?</p>
    <p><input type="text" ng-model="annoying" class="form-control"></p>
    <p>Anything else you'd like to add?</p>
    <p><input type="text" ng-model="misc" class="form-control"></p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>